<section class="tabs-demo">
  <div class="container">
    <ptt-matab></ptt-matab>
  </div>
</section>

<section class="if-else-demo">
  <div class="container">
    <ptt-nt-if-else></ptt-nt-if-else>
  </div>
</section>

<section class="di-demo">
  <div class="container">
    <ptt-tap-container>
      <ptt-tap-a></ptt-tap-a>
      <ptt-tap-b></ptt-tap-b>
      <ptt-tap-c></ptt-tap-c>
      <button>#tapable</button>
    </ptt-tap-container>
  </div>
</section>

<section class="http-nt-demo">
  <div class="container">
    <div>
      <button mat-raised-button color="info" (click)="toggle()">Show/Hide</button>
    </div>
    <ptt-http-nt *ngIf="show"></ptt-http-nt>
  </div>
</section>
